source /boot/grub/config.cfg

set default=0
set timeout=4

# Основной вариант (рекомендуемый)
menuentry "ERMINE OS" --unrestricted {
    linux /live/vmlinuz-6.1.0-44-amd64 boot=live components quiet splash apparmor=1 security=apparmor findiso=${iso_path} 
    initrd /live/initrd.img-6.1.0-44-amd64
}

# Полный RAM mode (всё в память, можно вытащить флешку)
menuentry "ERMINE OS (RAM mode)" --unrestricted {
    linux /live/vmlinuz-6.1.0-44-amd64 boot=live components toram=filesystem.squashfs overlay-size=70% quiet splash apparmor=1 security=apparmor findiso=${iso_path}
    initrd /live/initrd.img-6.1.0-44-amd64
}

menuentry "Safe Mode" {
    linux /live/vmlinuz-6.12.74+deb12-amd64 boot=live components nomodeset noapic noapm nodma nomce nosmp nosplash
    initrd /live/initrd.img-6.12.74+deb12-amd64
}

if [ "${grub_platform}" = "efi" ]; then
    menuentry "UEFI Firmware Settings" {
        fwsetup
    }
fi

# You can add more entries like this
# menuentry "Alternate live boot" {
# linux /live/vmlinuz-6.1.0-42-amd64 boot=live components quiet splash findiso=${iso_path} custom options here
# initrd /live/initrd.img-6.1.0-42-amd64
# }
# menuentry "Alternate graphical installer" {
# linux   custom options here
# initrd
# }
# menuentry "Alternate textual installer" {
# linux   custom options here
# initrd
# }

# Installer (if any)
if false; then

source	/boot/grub/install_start.cfg

submenu 'Advanced install options ...' --hotkey=a {

	source /boot/grub/theme.cfg

	source	/boot/grub/install.cfg

}
fi

submenu 'Utilities...' --hotkey=u {

	source /boot/grub/theme.cfg

	# Memtest (if any)
	if false; then
		source /boot/grub/memtest.cfg
	fi

	# Firmware setup (UEFI)
	if [ "${grub_platform}" = "efi" ]; then
		menuentry "UEFI Firmware Settings" {
			fwsetup
		}
	fi

}



